# -----------------------------
# OS files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# -----------------------------
# Data (VERY IMPORTANT)
# -----------------------------
data/*
minio-data/*

# but keep the empty folders
!data/.gitkeep
!minio-data/.gitkeep

# -----------------------------
# Model artifacts
# -----------------------------
*.pkl
*.joblib
*.h5
*.pt

# -----------------------------
# Logs
# -----------------------------
logs/
*.log

# -----------------------------
# Environment variables / secrets
# -----------------------------
.env

# -----------------------------
# Docker
# -----------------------------
docker-compose.override.yml

# -----------------------------
# VSCode / IDE
# -----------------------------
.vscode/
.idea/

# -----------------------------
# Temporary files
# -----------------------------
*.tmp
*.swp